<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ProgramAutomatycy API RestAssured" parallel="tests" thread-count="2">

    <test name="API Tests">
        <packages>
            <package name="pl.programautomatycy.cart.service.test"/>
        </packages>
    </test>

</suite>